#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}
.windSpeed img {
  position: absolute;
  /* background-color: aqua; */
 left: 5%;
 width: 32%;
 height: 32%;
 /* position: relative; */
}

#windtext{
  /* font-size: 2rem; */
  position: absolute;
  right: 4%;
  top: 47%;
}
#humidtext{
  margin-top: 2.7vh;
  margin-left: 7vw;
}
#windhumidBoxes{
  margin-top: 1vh;
  padding: 0%;
gap: 2vw;
  width: 35%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.windSpeed{
  
  position: relative;
  border-radius: 40px;
  padding-top: 39px;
  width: 50%;
  border: none;
  color: white ; 
  border-radius: 50px;
  height: 70%;
  
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua !important; */
  
}
.weatherPage{
  position: relative;
}
.currentWeatherText{
  position: absolute;
  left: 2%;
  display: block;
  /* background-color: aliceblue; */
width: 100%;
height: 40%;

}
#forecastBox{

  position: absolute;
right: 5%;
top: 80%;
  flex-direction: column;
  width: 55%;
  display: flex;
  justify-content:space-between;
}
.weathericon img{
  /* background-color: aliceblue; */
  width: 100%;
  
}
#sun-box img{
  width: 40%;
  height: 80%;
  /* background-color: #000; */
}
#sunbox-wrapper{
  display: flex;
  width: 20vw;
  justify-content: space-between;
}
#sun-box{
  color: white;
  font-weight: bold;
  margin-top: 1vh;
  width: 8vw;
  /* background-color: #000; */
  height: 10vh;
justify-content: space-between;
  display: flex;
}
#sun-box h2{
  margin-top: 1vh;
}
.swiper {
  display: flex;
  align-items: center;
display: flex;
justify-content: center;
align-items: center;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: red; */
width: 20%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
